---
import Layout from '../layouts/Layout.astro';
import { Picture } from '@astrojs/image/components';
let allPosts = await Astro.glob('../pages/posts/*.md');
let myPosts = allPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
let sortedPosts = myPosts.slice(0,3)
---
<style>
  .news {
	padding-left: 1.5rem; 
  }

  @media (min-width: 770px) {
    .container {
		display:flex;
	}
	.poster {
	  max-width: 400px;
	}
  }
</style>
<Layout pageTitle="Home">
	<Picture src="/images/2019choirFUN.jpg" widths={[300, 600, 1000, 2400]} aspectRatio="2:1" sizes="100vw" alt="The choir on stage, in a fun pose." loading="eager"/>
	<div class="container">
		<Picture class="poster" src="/images/concertposterchristmas2022.jpg" widths={[300, 500, 773]} aspectRatio="773:1000" sizes="100vw" alt="Christmas Concert poster: Song for a Winter's Night, Sunday December 18 at 2pm, Trinity United Chuch, Summerside."/>
	<div class="news">
		<h3>Recent News</h3>
		{sortedPosts.map((post) => {
		  return (
		  <article>
			<a href={post.url} class="summary-title"><h4>{post.frontmatter.title}</h4></a>
			<p>{post.frontmatter.description}</p>
			<p>{new Date(post.frontmatter.date).toDateString()}</p>
			<div style={{paddingBottom: `.75em`, marginBottom: `0.75em`, fontSize: `smaller`, fontStyle: `italic`}}>
				
				  <hr style={{paddingBottom: `0.25em`, marginTop: `0.25em`}} />
			</div>
		  </article>
		)})}
		<a href="/blog/"><p>See more news...</p></a>
	  </div>
	</div>
</Layout>
