---
import Layout from "../layouts/Layout.astro";
import { Picture } from '@astrojs/image/components';
---
<style>
    .posters {
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
    }

  
</style>
<Layout pageTitle="Performances">

    <div>
      <iframe
        width = "100%"
        height = "400px"
        loading = "lazy"
        src="https://www.youtube.com/embed/niIwmOOsxNs"
        title="videoTitle"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        frameBorder="0"
        webkitallowfullscreen="true"
        mozallowfullscreen="true"
        allowFullScreen
      />
      <p>See more videos of the choir on <a href="https://www.youtube.com/user/SummersideChoirPEI/">our YouTube page!</a></p>

    </div>

    
    <h2>Past Performances</h2>
    <div class="posters">
    <Picture src="/images/concertposterchristmas2022.jpg" widths={[360, 540, 625]} aspectRatio="773:1000" sizes="(max-width: 400px) 100vw, 180px" alt="2022 Christmas Concert poster"/>
    <Picture src="/images/concertposterchristmas2019.jpg" alt="2019 Christmas Concert Poster" widths={[360, 540, 625]} aspectRatio="773:1000" sizes="(max-width: 400px) 100vw, 180px" />
    <Picture src="/images/concertposterspring2019.jpg" alt="2019 Spring Concert Poster" widths={[360, 540, 625]} aspectRatio="773:1000" sizes="(max-width: 400px) 100vw, 180px" />
    <Picture src="/images/concertposterchristmas2018.jpg" alt="2018 Christmas Concert Poster" widths={[360, 540, 625]} aspectRatio="773:1000" sizes="(max-width: 400px) 100vw, 180px" />
    <Picture src="/images/concertposterspring2018.jpg" alt="2018 Spring Concert Poster" widths={[360, 540, 625]} aspectRatio="773:1000" sizes="(max-width: 400px) 100vw, 180px" />
    <Picture src="/images/concertposterchristmas2017.jpg" alt="2017 Christmas Concert Poster" widths={[360, 540, 625]} aspectRatio="773:1000" sizes="(max-width: 400px) 100vw, 180px" />
    <Picture src="/images/concertposterspring2017.jpg" alt="2017 Spring Concert Poster" widths={[360, 540, 625]} aspectRatio="773:1000" sizes="(max-width: 400px) 100vw, 180px" />
    <Picture src="/images/concertposterchristmas2016.jpg" alt="2016 Christmas Concert Poster" widths={[360, 540, 625]} aspectRatio="773:1000" sizes="(max-width: 400px) 100vw, 180px" />
    <Picture src="/images/concertposterspring2016.jpg" alt="2016 Spring Concert Poster" widths={[360, 540, 625]} aspectRatio="773:1000" sizes="(max-width: 400px) 100vw, 180px" />
    <Picture src="/images/concertposterchristmas2015.jpg" alt="2015 Christmas Concert Poster" widths={[360, 540, 625]} aspectRatio="650:1000" sizes="(max-width: 400px) 100vw, 180px" />
    <Picture src="/images/concertposterspring2015.jpg" alt="2015 Spring Concert Poster" widths={[360, 540, 625]} aspectRatio="773:1000" sizes="(max-width: 400px) 100vw, 180px" />
    <Picture src="/images/concertposterchristmas2014.jpg" alt="2014 Christmas Concert Poster" widths={[360, 540, 625]} aspectRatio="773:1000" sizes="(max-width: 400px) 100vw, 180px" />
    <Picture src="/images/concertposterspring2013.jpg" alt="2013 Spring Concert Poster" widths={[360, 540, 625]} aspectRatio="650:1000" sizes="(max-width: 400px) 100vw, 180px" />
    </div>
</Layout>