<style>
  .foot{
    background: #2f2f2f;
    color: #f4f4f4;
    margin-bottom: 2rem;
    font-weight: 300;
  }
  .footer-content{
    margin: 0 auto;
    max-width: 960px;
    padding: 2rem 1.2rem;
    display: flex;
    justify-content: space-between;
  }
  .social-list{
    padding-left: 2em;
  }
  .social{
    font-size: 0.75rem;
    color:white;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-decoration: none;
  }
  .navlist{
    list-style: none;
    padding-right:2em;
  }
  .navlink{
    font-weight: bold;
  }
  .navlist a {
    color:#f4f4f4;
    text-decoration: none;
  }
</style>

<footer class="foot">
<div class="footer-content">

  <div class="social-list">
    <p>sumchoir@gmail.com</p>
    <p><a class="social" href="https://www.twitter.com/SummersideChoir"><img src="/images/twitter.png" alt="SCC Twitter" width="20" />{' ' } SummersideChoir</a></p>
    <p><a class="social" href="https://www.facebook.com/SummersideChoir"><img src="/images/fb.png" alt="SCC Facebook" width="20" />{' ' } SummersideChoir</a></p>
    <p><a href="https://www.youtube.com/user/SummersideChoirPEI/"><img src="/images/youtube.png" alt="SCC YouTube" width="70" /></a></p> 
  </div>
  
  <div>
    <ul class="navlist">
      <li class="navlink">Find out more!</li>
      <li><a href="/about/">About</a></li>
      <li><a href="/performances/">Performances</a></li>
      <li><a href="/calendar/">Calendar</a></li>
      <li><a href="/join/">Join</a></li>
    </ul>
  </div>

</div> 

<div style = "margin: 0 auto; text-align:center;"> 
  <p>© 2022 Summerside Community Choir </p>
</div>
   
</footer>