---
import { Picture, Image } from '@astrojs/image/components';
---
<header style="margin-bottom: 0.5rem;">
    <div class="nav-container">
      <nav>
        <input type="checkbox" id="nav-toggle" />
        <label for="nav-toggle" class="burger-menu">
            MENU
        </label>
        <div class="left-menu">
          <a href="/">Home</a>
          <a href="/about/">About</a>
          <a href="/join/">Join The Choir</a>
          <a href="/performances/">Performances</a>
          <a href="/blog/">News</a>
        </div>
        <a href="/"><Image src="/images/scclogo.png" width="150" height = "120" alt="SCC Logo"  format = "webp" loading="eager"/></a>
      </nav>
    </div>
</header>