---
import { Picture } from '@astrojs/image/components';
---
<header style="margin-bottom: 0.5rem;">
    <div class="nav-container">
      <nav>
        <input type="checkbox" id="nav-toggle" />
        <label for="nav-toggle" class="burger-menu">
            MENU
        </label>
        <div class="left-menu">
          <a href="/about/">About</a>
          <a href="/join/">Join The Choir</a>
          <a href="/calendar/">Calendar</a>
          <a href="/performances/">Performances</a>
          <a href="/blog/">News</a>
        </div>
        <a href="/"><Picture src="/images/scclogo.png" widths={[300, 490]} alt="SCC Logo" aspectRatio="15:12" sizes="150px" loading="eager"/></a>
      </nav>
    </div>
</header>