---
---
<header style="margin-bottom: 0.5rem;">
    <div class="nav-container">
      <nav>
        <input type="checkbox" id="nav-toggle" />
        <label for="nav-toggle" class="burger-menu">
            MENU
        </label>
        <div class="left-menu">
          <a href="/about/">About</a>
          <a href="/join/">Join The Choir</a>
          <a href="/calendar/">Calendar</a>
          <a href="/performances/">Performances</a>
          <a href="/blog/">News</a>
        </div>
        <a href="/"><img src="/images/scclogo.png" alt="SCC Logo" width="150" /></a>
      </nav>
    </div>
</header>